.desktop-page {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 700px;
  
}

.desktop-page .icons-grid{
    display: grid;
    grid-template-columns: max-content(4);
    margin-bottom: 50px;
    margin-top: 0px;
    margin-left: 0px;
    column-gap: 0px;

    .icons-container {
      margin-left: 0;
      margin-top: 0;

    }
    
}

@media (max-width: 2000px) {
    .desktop-page .icons-grid {
      grid-template-columns: auto auto auto;

      margin-bottom: 50px;
      margin-top: 0px;
      margin-left: 0px;
      column-gap: 0px;
    }
  }
  
@media (max-width: 1600px) {
    .desktop-page .icons-grid {
      grid-template-columns: repeat(3, 1fr);
    }
}

@media (max-width: 1300px) {
    .desktop-page .icons-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 1000px) {
    .desktop-page .icons-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 800px) {
    .desktop-page .icons-grid {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media (max-width: 575px) {
    .desktop-page .icons-grid {
      grid-template-columns: repeat(1, 1fr);
    }
  }
  
  @media (max-width: 450px) {
    .desktop-page .icons-grid {
      grid-template-columns: 1fr;
    }
  }

  .desktop-page .icons-container {
    padding-top: 5px;
    padding-bottom: 25px;
    padding-left: 25px;
    padding-right: 25px;

    display: flex;
    flex-direction: column;
  }

  .desktop-page .taskbar {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #CCC;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
    .taskbar-time {
        font-family: 'Courier New', Courier, monospace;
        font-size: 15px;
        color: #fff;
        margin-left: 10px;
        align-items: right;
        justify-content: right;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        margin-right: 10px;
        margin-left: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding: 0 10px;
    }
    .start-button {
      border-radius: 0;
      border: 2px solid;
      border-color: #dfdfdf #808080 #808080 #dfdfdf;
      box-shadow: 1px 1px 0 #000;
      background: #c0c0c0;
      font-family: 'Times New Roman', serif;
      font-size: 18px;
      padding: 4px 12px;

    }
  
  }
